<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>MapWay_bsdesign</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.min.css') }}">
</head>

<body class="d-flex flex-column justify-content-between" style="min-height: 100vh;">
    <div class="d-flex flex-column align-items-center" style="height: 500px;padding: 40px;background: url(&quot;https://sun9-69.userapi.com/cwjdG1CiN87cKQKkm9_hBGQ5NmAYxsuvQpSswQ/kouXla6_67c.jpg&quot;) center / cover no-repeat;filter: brightness(100%);color: rgb(255,255,255);border-bottom-right-radius: 30px;border-bottom-left-radius: 30px;box-shadow: 0px 4px 16px 8px rgb(194,194,194);">
        <div class="d-flex flex-row justify-content-between align-items-center" style="width: 100%;">
            <h1 style="color: #ffffff;">MapWay</h1><a class="btn btn-light" role="button" style="background: rgba(255,255,255,0);color: #ffffff;border: 1px solid rgb(255,255,255);height: 40px;" href="/login">Авторизация</a>
        </div>
        <hr style="width: 100%;border: 1px solid rgb(255,255,255) ;">
        <h1 class="text-center" style="margin-top: 60px;max-width: 600px;color: #ffffff;">Постройте увлекательное путешествие по Москве на основе предпочтений</h1>
    </div>
    <main class="text-center d-flex flex-column justify-content-center align-items-center" style="margin-top: 60px;">
        <h2 style="width: 85%;max-width: 600px;">Уникальные маршруты</h2>
        <p style="width: 85%;max-width: 600px;">MapWay позволяет вам строить маршруты на основе ваших предпочтений и оценок, которые вы ставите. Постройте туристический маршрут, который вам понравится!</p><a class="btn btn-success" role="button" style="width: 85%;max-width: 400px;margin-bottom: 60px;" href="/login">Попробовать</a>
    </main>
    <footer class="footer-dark">
        <div class="container">
            <div class="row">
                <div class="col-md-6 item text">
                    <h1>MapWay</h1>
                    <p>Сервис по подбору маршрутов, которые вам точно понравятся<br></p>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>Общая информация</h3>
                    <ul>
                        <li><a href="#">О нас</a></li>
                        <li><a href="#">Политика конфиденциальности<br></a></li>
                        <li><a href="#">Использование данных</a></li>
                        <li><a href="#">Почему именно мы?</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>Помощь</h3>
                    <ul>
                        <li><a href="#">Контакты</a></li>
                        <li><a href="#">Поддержка</a></li>
                        <li><a href="#">Как пользоваться?</a></li>
                    </ul>
                </div>
                <div class="col item social" style="margin-top: 40px;"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
            </div>
            <p class="copyright">MapWay © 2021</p>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>