<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>MapWay_bsdesign</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.min.css') }}">
</head>

<body class="d-flex flex-column justify-content-between" style="min-height: 100vh;">
    <nav class="navbar navbar-light navbar-expand-md navigation-clean" style="background: var(--bs-dark);">
        <div class="container"><a class="navbar-brand" href="#" style="color: var(--bs-white);">MapWay</a><button data-bs-toggle="collapse" class="navbar-toggler text-white" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon text-white" style="color: rgb(255, 255, 255);filter: brightness(100%) invert(100%);"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link active" href="/" style="color: rgb(255,255,255);">Главная</a></li>
                    <li class="nav-item"><a class="nav-link" href="/objects" style="color: #eeeeee;">Объекты</a></li>
                    <li class="nav-item" style="color: #eeeeee;"><a class="nav-link" href="/tariffs" style="color: #eeeeee;">Тарифы</a></li>
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#" style="color: #eeeeee;">Алпатов Александр&nbsp;</a>
                        <div class="dropdown-menu" style="color: var(--bs-gray);background: rgb(54,60,64);"><a class="dropdown-item" href="/profile" style="color: rgb(255,255,255);">Профиль</a><a class="dropdown-item" href="/logout" style="color: rgb(255,255,255);">Выйти</a></div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="d-flex flex-column justify-content-center align-items-center flex-wrap" style="width: 100%;padding: 20px;">
        <div class="card" style="width: 95%;max-width: 500px;margin-top: 20px;margin-bottom: 20px;">
            <div class="card-body">
                <h4 class="card-title">Платежи</h4>
                <h6 class="text-muted card-subtitle mb-2">Партнёр проекта "INFRA LLC"</h6>
                <p class="card-text">Функции платежей на платформе были временно отключены! Все тарифы предоставляются бесплатно на время технических неполадок! &lt;3<br></p><a class="btn btn-success" role="button" style="width: 100%;margin-bottom: 10px;" href="/user">Вернуться назад</a>
            </div>
        </div>
    </main>
    <footer class="footer-dark">
        <div class="container">
            <div class="row">
                <div class="col-md-6 item text">
                    <h1>MapWay</h1>
                    <p>Сервис по подбору маршрутов, которые вам точно понравятся<br></p>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>Общая информация</h3>
                    <ul>
                        <li><a href="#">О нас</a></li>
                        <li><a href="#">Политика конфиденциальности<br></a></li>
                        <li><a href="#">Использование данных</a></li>
                        <li><a href="#">Почему именно мы?</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>Помощь</h3>
                    <ul>
                        <li><a href="#">Контакты</a></li>
                        <li><a href="#">Поддержка</a></li>
                        <li><a href="#">Как пользоваться?</a></li>
                    </ul>
                </div>
                <div class="col item social" style="margin-top: 40px;"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
            </div>
            <p class="copyright">MapWay © 2021</p>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>