<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Маршрут</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{{ url_for('static', type='text/css', filename='css/styles.min.css') }}">
    <script src="https://api-maps.yandex.ru/2.1/?apikey=31f3f104-ed92-4851-905a-59a0ca77d0fe&lang=ru_RU"
            type="text/javascript">
    </script>
</head>

<body>
<nav class="navbar navbar-light navbar-expand-md navigation-clean" style="background: var(--bs-dark);">
    <div class="container"><a class="navbar-brand" href="/" style="color: var(--bs-white);">MapWay</a>
        <button data-bs-toggle="collapse" class="navbar-toggler text-white" data-bs-target="#navcol-1"><span
                class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon text-white"
                                                                      style="color: rgb(255, 255, 255);filter: brightness(100%) invert(100%);"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="/" style="color: rgb(255,255,255);">Главная</a></li>
                <li class="nav-item"><a class="nav-link" href="/objects" style="color: #eeeeee;">Объекты</a></li>
                <li class="nav-item" style="color: #eeeeee;"><a class="nav-link" href="/tariffs"
                                                                style="color: rgb(255,255,255);">Тарифы</a></li>
                <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false"
                                                 data-bs-toggle="dropdown" href="#"
                                                 style="color: #eeeeee;">{{ user.name }} {{ user.surname }}&nbsp;</a>
                    <div class="dropdown-menu" style="color: var(--bs-gray);background: rgb(54,60,64);"><a
                            class="dropdown-item" href="/profile" style="color: rgb(255,255,255);">Профиль</a><a
                            class="dropdown-item" href="/logout" style="color: rgb(255,255,255);">Выйти</a></div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<main class="d-flex flex-column justify-content-center align-items-center justify-content-md-center align-items-md-center"
      style="width: 100%;margin-top: 40px;">
    <h1>Уникальный маршрут</h1>
    <p>По вашим предпочтениям</p>
    <section class="d-flex flex-column justify-content-center align-items-center" style="width: 100%;">
        <div id="map"
             style="border: 1px solid gray; border-radius: 15px; height: 400px; width: 85%; box-shadow: 0px 7px 15px rgba(33,37,41,0.14); max-width: 800px;"></div>
        <p class="text-center" style="width: 85%;"><br> Наш умный алгоритм поиска интересных мест посчитал, что вам
            понравятся следующие места по пути:<br><br></p>
        <div class="col-md-8 d-flex flex-column">
            <h3 class="text-center">Начало</h3>
            <h3 class="text-center">&rang; {{ start_point[2] }} &lang;</h3>
            <hr>
            {% for place in object_results %}
                <div class="d-flex justify-content-center flex-wrap" style="width: 100%;height: 100%;">
                    <div class="col-md-6 flex-grow-1" style="min-width: 300px;min-height: 300px;">
                        <div style="background: url('{{ place[4] }}') center / cover no-repeat;border-radius: 10px;height: 100%;width: 100%;"></div>
                    </div>
                    <div class="col-md-5 d-flex flex-column justify-content-between"
                         style="padding: 20px;min-width: 300px;min-height: 200px;">
                        <div>
                            <h3>{{ place[1] | truncate(50) }}</h3>
                            <p class="d-inline">{{ place[6] }}<br></p>
                            <p style="color: var(--bs-success);font-size: 15px;display: inline;width: 100%;">
                                Оценка: {{ place[7] }}<br></p>
                            <p>{{ place[5] | truncate(150) }}</p>
                        </div>
                        <a href="{{ url_for('rateObject', id=place[8]) }}" class="btn btn-light" type="button"
                           style="border-style: solid;border-color: rgb(0,0,0);margin-bottom: 10px;">Написать
                            отзыв</a><a href="{{ url_for('object', id=place[0]) }}" class="btn btn-success"
                                        role="button">Перейти на страницу</a>
                    </div>
                </div>
                <div style="min-height: 20px;">
                    <hr>
                </div>
            {% endfor %}
            <h3 class="text-center">&rang; {{ finish_point[2] }} &lang;</h3>
            <h3 class="text-center">Конец</h3>
        </div>
        <br><br>
        <p>Вам понравился маршрут?</p>
        <div class="d-flex flex-column justify-content-center align-items-center flex-wrap" style="width: 85%;"><a
                href="{{ url_for('rateRoute', id=current_route) }}" class="btn btn-primary flex-row" type="button"
                style="margin: 5px;color: rgb(0,0,0);background: rgb(255,255,255);border-width: 1px;border-color: rgb(0,0,0);max-width: 300px;width: 100%;">Оценить</a>

            <a
                class="btn btn-dark flex-row" role="button"
                style="border-width: 1px;max-width: 300px;margin: 5px;width: 100%;margin-bottom: 20px;" href="/myRoutes">Мои маршруты</a>

            <a
                class="btn btn-success flex-row" role="button"
                style="border-width: 0px;max-width: 300px;margin: 5px;width: 100%;margin-bottom: 20px;" href="/">Вернуться
            назад</a></div>
    </section>
</main>
<footer class="footer-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-6 item text">
                <h1>MapWay</h1>
                <p>Сервис по подбору маршрутов, которые вам точно понравятся<br></p>
            </div>
            <div class="col-sm-6 col-md-3 item">
                <h3>Общая информация</h3>
                <ul>
                    <li><a href="/aboutUs">О сервисе</a></li>
                    <li><a href="#">Политика конфиденциальности<br></a></li>
                    <li><a href="#">Использование данных</a></li>
                    <li><a href="#">Почему именно мы?</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3 item">
                <h3>Помощь</h3>
                <ul>
                    <li><a href="#">Контакты</a></li>
                    <li><a href="#">Поддержка</a></li>
                    <li><a href="#">Как пользоваться?</a></li>
                </ul>
            </div>
            <div class="col item social" style="margin-top: 40px;"><a href="/"><i class="icon ion-social-facebook"></i></a><a
                    href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i
                    class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a>
            </div>
        </div>
        <p class="copyright">MapWay © 2021</p>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript">
    // Функция ymaps.ready() будет вызвана, когда
    // загрузятся все компоненты API, а также когда будет готово DOM-дерево.
    ymaps.ready(init);

    function init() {
        // Создание карты.
        var myMap = new ymaps.Map("map", {
            center: [55.76, 37.64],
            zoom: 9,
            controls: ['zoomControl', 'typeSelector', 'fullscreenControl']
        });

        {% for point in points %}
            {{ point|safe }}
        {% endfor %}
    }
</script>
</body>

</html>